<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @customer.name %></h1>
    <p>
      Your favorite <%= @model.name %> shoe is back in <%= @store.name %>.
      Run and pick up yours.
    </p>

    <p>Thanks for joining <%= @store.name %> offers and have a great day!</p>
  </body>
</html>